In [1]:
# Import dependencies 
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import requests
import time 
import json
from scipy.stats import linregress 

# Import API key
from config import gkey

In [2]:
# Install jupyter-gmaps with conda
#conda install -c conda-forge gmaps

In [3]:
# Import gmaps 
import gmaps

# Access maps with unique API key
gmaps.configure(api_key = gkey)

In [4]:
# Import cities data
cities_df = pd.read_csv('../WeatherPy/output_data/cities.csv')
cities_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Vaini,-21.2000,-175.2000,73.40,100,20,3.44,TO,1614619855
1,Saint George,37.1041,-113.5841,46.00,20,1,3.18,US,1614619852
2,Gladstone,-23.8500,151.2500,77.00,83,75,5.75,AU,1614619573
3,Kupang,-10.1667,123.5833,76.89,86,100,2.24,ID,1614619857
4,Imbituba,-28.2400,-48.6703,73.40,94,75,3.44,BR,1614619857
...,...,...,...,...,...,...,...,...,...
580,Oyem,1.5995,11.5793,71.40,94,64,4.07,GA,1614620176
581,Vangaindrano,-23.3500,47.6000,76.98,88,99,9.10,MG,1614620176
582,Qūchān,37.1060,58.5095,43.48,57,95,2.01,IR,1614620177
583,Nara,34.6851,135.8049,57.00,69,90,4.05,JP,1614620178
584,Metro,-5.1131,105.3067,73.72,93,86,8.81,ID,1614620178

In [6]:
# Check datatypes
cities_df.dtypes

City           object
Latitude      float64
Longitude     float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date            int64
dtype: object

In [5]:
# Store latitude and longitude in locations
locations = cities_df[['Latitude', 'Longitude']]
locations

     Latitude  Longitude
0    -21.2000  -175.2000
1     37.1041  -113.5841
2    -23.8500   151.2500
3    -10.1667   123.5833
4    -28.2400   -48.6703
..        ...        ...
580    1.5995    11.5793
581  -23.3500    47.6000
582   37.1060    58.5095
583   34.6851   135.8049
584   -5.1131   105.3067

[585 rows x 2 columns]

In [7]:
# Select the humidtiy values
humidity = cities_df['Humidity']

0      100
1       20
2       83
3       86
4       94
      ...
580     94
581     88
582     57
583     69
584     93
Name: Humidity, Length: 585, dtype: int64

In [10]:
# Plot Heatmap
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating = False, max_intensity=humidity.max(),
                                 point_radius=3
                                )
# Add Layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))